<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      {% block xmlns -%}
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      {%- endblock %}>
  
  {% import "macros/html" as html -%}
  {% import "macros/crumbs" as breadcrumbs with context -%}
  {% import "macros/controls" as controls with context -%}
  
  <head>
    {% block head %}
    
      {% block meta %}
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
      {% endblock %}
      
      <title>
        {% block title_prefix -%}
          {% if 'wiki-name' in config %}{{ config['wiki-name']|e }} » {% endif %}
        {%- endblock %}
        {% block title -%}
          {{ title }}
        {%- endblock %}
      </title>
      
      {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        
        {{ html.cssimport(url_for("static", filename="media/css/style.css"))|safe }}
        {{ html.cssimport(url_for("static", filename="media/css/pygments.css"))|safe }}
      {% endblock %}
      
      {% block js %}
        {{ html.jsimport(url_for("static", filename="media/js/jquery.js")) | safe}}
        {{ html.jsimport(url_for("static", filename="media/js/script.js")) | safe}}
      {% endblock %}
      
    {% endblock head %}
  </head>
  
  <body {% block body_attrs %}{% endblock %}>
    {% block body %}
      
      <div class="wrapper round">
          {% block body_header %}
              <div class="">
                {% block crumbs %}
                  <div class="pull-left">
                  {{ breadcrumbs.crumbs(crumbs)|safe }}
                  </div>
                {% endblock crumbs %}
                <div class="controls pull-right">
                  {% block controls %}
                  {% endblock controls %}
                </div>
                <hr class="clear"/>
              </div>
          {% endblock body_header %}
        <div id="content" class="">
          {% block content_header %}
          {% endblock content_header %}
          
          {% block content %}
          {% endblock content %}
          
          {% block content_footer %}
          {% endblock content_footer %}
        
        <hr class="clear" />
      </div> <!-- div#content -->
    </div>
      
      {% block body_footer %}
      <div id="footer">
        <p>
          {% if 'wiki-name' in config %}
            {{ config['wiki-name']|e }} —
          {% endif %}
          Powered by TJ.
        </p>
      </div>
      {% endblock body_footer %}
    
    {% endblock body %}
    
    <hr class="clear" />
  </body>
</html>
