{% extends 'base.html' %}

{% block content_header %}
<p class="bg-warning text-warning center-block text-center round">editing... your changes may not be saved<p>
{% endblock content_header %}

{% block controls %}
{{ controls.controls([
		('folder-open', true, '_directory_'),
		('trash', true, '?delete'),
		('remove', true, '?')
	]) | safe }}
{% endblock controls %}

{% block content %}
<div>
{{ content }}
</div>
<hr/>
<a href="?" class="close"><span aria-hidden="true">&times;</span></a>
<form method="post" name="editpage" action="?">
	<div class="form-group">
		<textarea name="raw" id="edit-page-box" class="form-control">{{raw}}</textarea>
	</div>
	<div class="form-group">
		<a href="?" class="btn btn-link">Cancel</a>

		<button type="submit" id="preview-btn" formaction="?edit#edit-page-box" class="btn btn-default">Preview</button>
		<button type="submit" class="btn btn-primary pull-right">Save</button>
	</div>
</form>
{% endblock %}
