{% extends 'base.html' %}

{% block title %}ls /{{ directory|e }}{% endblock %}

{% block body_attrs %}class="listing"{% endblock %}

{% block controls %}
{{ controls.controls([
		('move', true, '?move'),
		('file', true, '/newpage'),
		('wrench', true, '?edit')
	]) | safe }}
{% endblock controls %}

{% block content %}
  <table class="dir-contents table table-hover">
    <caption>Contents of dir</caption>
    <tr><th>Name</th><th class="size">Size</th><th class="time">Last Modified</th></tr>
    {% for subdir in sub_directories %}
      <tr>
        <td class="name">
          <span class="glyphicon glyphicon-folder-close"></span>
          <a class="dirlink" href="{{ subdir.href|e }}">
            {{ subdir.basename|e }}/
          </a>
        </td>
        <td class="size">-</td>
        <td class="time">-</td>
      </tr>
    {% endfor %}
    {% for page in pages %}
      <tr>
        <td class="name">
          <span class="glyphicon glyphicon-file"></span>
          <a href="{{ page.href|e }}" title="{{ page.title|e }}">
            {{ page.title|e }}
          </a>
        </td>
        <td class="size">{{ page.humansize }}</td>
        <td class="time">{{ page.humantime }}</td>
      </tr>
    {% endfor %}
    {% for file in files %}
      <tr>
        <td class="name">
          <span class="glyphicon glyphicon-picture"></span>
          <a href="{{ file.href|e }}">
            {{ file.basename|e }}
          </a>
        </td>
        <td class="size">{{ file.humansize }}</td>
        <td class="time">{{ file.humantime }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
