{% extends 'base.html' %}

{% block controls %}
{{ controls.controls([
		('search', true, '/search'),
	]) | safe }}
{% endblock controls %}

{% block content_header %}
	<form method="post" class="input-group search-bar">
		<input type="text" name="q" placeholder="search"
			{% if query %} value="{{ query }}" {% endif %}
		class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
	</form>
{% endblock content_header %}
{% block content %}
	{% if results %}
		<ul class="search-results">
			{% for result in results %}
				<li>
					<a href="{{ result['link'] }}">
						{{ result['path'] }}{% if result['path'] %}/{% endif %}<b>{{ result['filename'] }}</b>
					</a>
					<span> {{ result['matchtext'] }} </span>
				</li>
			{% endfor %}
		<ul>
	{% endif %}
{% endblock %}
